body {
    font-family: Arial, sans-serif;
}

#message {
    flex-grow: 1;
}


body {
  background: #00b140;
  overflow: hidden;
  /* width: 1980px; */
  /* height: 1080px; */
}

@keyframes pop-out {
   0% { opacity: 1; transform: scale(1); }
   100% { opacity: 0; transform: scale(0.1); }
}

@keyframes pop-in {
   0% { opacity: 0; transform: scale(0.1); }
   100% { opacity: 1; transform: scale(1); }
}

.popin {
  animation:pop-in 0.5s;
}

.popout {
  animation:pop-out 0.5s;
  transform: rotate(0deg);
  opacity: 0;
  animation-fill-mode: forwards;
}

.shake {
  position: relative;
  animation: shake 1s;
  animation-iteration-count: infinite;
}

#seal {
  opacity: 1;
  transition: opacity 0.5s linear;
  width: 300px;
  transform: rotate(25deg);
  position: relative;
}
#dialog-1 {
  position: relative;
}

#snitch {
  position: relative;
  z-index: 1;
  top: -420px;
}
#dialog-2 {
  position: relative;
  top: -420px;
}


#birb {
  position: relative;
  z-index: 1;
  top: -840px;
}
#dialog-3 {
  position: relative;
  top: -840px;
}

#c3po {
  height: 500px;
  position: relative;
  z-index: 1;
  top: -1240px;
}
#dialog-4 {
  position: relative;
  top: -1240px;
}

#kevin {
  height: 500px;
  position: relative;
  z-index: 1;
  top: -1740px;
}
#dialog-5 {
  position: relative;
  top: -1740px;
}

#crabs {
  height: 500px;
  height: 500px;
  position: relative;
  z-index: 1;
  top: -2340px;
}
#dialog-6 {
  position: relative;
  top: -2340px;
}

#mcguirk {
  height: 500px;
  position: relative;
  z-index: 1;
  top: -2540px;
}
#dialog-7 {
  position: relative;
  top: -2540px;
}

#lip_sync {
  position: relative;
  z-index: 1;
  width: 300px;
}

#lip_sync_wrapper {
  /* position: relative; */
  /* z-index: 1; */
  /* width: 600px */
  /* height: 300px */
}


.bubble {
  /* flex-grow: 1; */
  /* position: absolute; */
  /* width: fit-content; */
  /* block-size: fit-content; */
  /* The top needs to be relative to the size of the message */
  /* top: 470px; */
  /* width: 300px; */
  /* background: ##0013FF; */

  background: #fff;
  border-radius: 40px;
  color: #000;
  font-family: sans-serif;
  font-size: 18px;
  left: 200px;
  line-height: 24px;
  padding: 24px;
  position: relative;
  text-align: center;
  width: 60%;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #fff;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.spinner {
  float: right;
  color: white;
  align-items: center;
  justify-content: center;
  padding-right: 120px;
}

.spinner:after {
  animation: changeContent .8s linear infinite;
  display: block;
  content: "⠋";
  font-size: 220px;
}

/* -webkit-transform: scaleX(-1); transform: scaleX(-1); */

@keyframes changeContent {
  10% { content: "⠙"; }
  20% { content: "⠹"; }
  30% { content: "⠸"; }
  40% { content: "⠼"; }
  50% { content: "⠴"; }
  60% { content: "⠦"; }
  70% { content: "⠧"; }
  80% { content: "⠇"; }
  90% { content: "⠏"; }
}

/* img:hover { */
/*   /1* Start the shake animation and make the animation last for 0.5 seconds *1/ */
/*   animation: shake 5s; */

/*   /1* When the animation is finished, start again *1/ */
/*   animation-iteration-count: infinite; */
/* } */


/* This is a bigger shake effect */
/* @keyframes shake { */
/*   0% { transform: translate(1px, 1px) rotate(0deg); } */
/*   10% { transform: translate(-5px, -6px) rotate(-1deg); } */
/*   20% { transform: translate(-5px, 0px) rotate(1deg); } */
/*   30% { transform: translate(8px, 6px) rotate(0deg); } */
/*   40% { transform: translate(5px, -5px) rotate(5deg); } */
/*   50% { transform: translate(-5px, 6px) rotate(-5deg); } */
/*   60% { transform: translate(-3px, 1px) rotate(0deg); } */
/*   70% { transform: translate(3px, 1px) rotate(-5deg); } */
/*   80% { transform: translate(-4px, -5px) rotate(4deg); } */
/*   90% { transform: translate(5px, 6px) rotate(0deg); } */
/*   100% { transform: translate(6px, -4px) rotate(-5deg); } */
/* } */

@keyframes shake  {
	0% { transform: translate(2px, 1px) rotate(0deg) scale(1); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg)  }
	70% { transform: translate(2px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg) }
}
